{%- if show_source and has_source and sourcename %}
<h3>{{ _('Cette page en .txt et en .pdf') }}</h3>
<ul class="this-page-menu">
  <li><a href="{{ pathto('pdf/' + sourcename + '.pdf', true)|e }}"
         rel="nofollow">Voir la version PDF</a></li>
  <li><a href="{{ pathto('_sources/' + sourcename, true)|e }}"
         rel="nofollow">Voir le fichier source</a></li><br>
  <li><a href="{{ pathto('../latex/Kaggle.pdf', true)|e }}"
         rel="nofollow">Voir le rapport</a></li>
</ul>
{%- endif %}
